
//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.vote-card
  .header(v-if="group")
    //- .date {{ $d(date, 'long') }}
    .date(v-if="date")
      h1 {{ $d(date, 'long') }}
    .user-container(v-if="!date")
      h1
        router-link.title(:to="{ name: 'team:members:profile', params: { groupId: group.id, userId: user.id } }") {{ user.name }}
      .avatar
        router-link.title(:to="{ name: 'team:members:profile', params: { groupId: group.id, userId: user.id } }")
          Avatar.avatar(
            :hash="user ? user.hash : null"
            :name="user ? user.name : $t('COMMON.USERS.ANONYMOUS_USER')"
          )
  .header(v-if="!group")
    h1 {{ user.name }}
    .avatar
      Avatar.avatar(
        :hash="user ? user.hash : null"
        :name="user ? user.name : $t('COMMON.USERS.ANONYMOUS_USER')"
      )
  .smiley
    dw-smiley(
      :voteScore="mood"
      :fixedMood="true"
    )
  .hue-mood(v-if="hue")
    include ../../../assets/img/quotes.svg
    blockquote {{ hue }}
  .text-container(v-if="comment")
    Viewer(
      ref="toastuiViewer"
    )

