//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.voting-result
  .which-desktop
    .base Base
    .small Small
    .medium Medium
    .large Large
    .xlarge Xlarge
  .mobile-vote
    router-link.button.primary(
      v-bind:to="{ name: 'voting:result' }"
    ) {{ $t("RESULT.SHARE_MOOD") }}

  .title-container.title-container-mobile
    h1 {{ selectedGroup.name }}
    .row
      h2 {{ $t("RESULT.LAST_POOL_RESULT") }}
      span.time(v-if="voting") {{ $d(voting.createdAtDateTime) }}
  .main-container
    .graphic-section
      .title-container.title-container-full
        h1 {{ selectedGroup.name }}
      .graphic-container
        p.delete-when-graphic Aqui va una grafica
    .mood-section
      .mood-container
        .average-mood
          .title-container.title-container-large
            h2 {{ $t("RESULT.LAST_POOL_RESULT") }}
          AverageMood(
            v-if="voting"
            :moodAverage="voting.average"
            averagePercentil="7"
          )
        .participation-container
          .title-container.title-container-participation.date.no-margin
            span.time(v-if="voting") {{ $d(voting.createdAtDateTime) }}
          .participation-info
            .row
              .title {{ $t("RESULT.PARTICIPATION") }}
              .amount
                span 9
                span /
                span 20
            .people {{ $t("RESULT.USUALLY") }} 12 {{ $t("RESULT.PEOPLE_PARTICIPATE") }}
            .participation
              template(v-if="voting && voting.didIVote") {{ $t("RESULT.ALREADY_VOTED") }}
              template(v-if="voting && !voting.didIVote") {{ $t("RESULT.NOT_PARTICIPATE") }}
            router-link.button.primary.desktop(
              v-if="voting && !voting.didIVote"
              v-bind:to="{ name: 'voting:vote', params: { groupId: selectedGroup.id, votingId: voting.id }}"
            ) {{ $t("RESULT.SHARE_MOOD") }}
      .mood-sorter-section
        MoodSorter
  .list-container
    vote-list(v-if="voting" :voting="voting")
