//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

form.form(data-testid="form" v-on:submit.prevent="handleSubmit()" autocomplete="off")

  dw-with-google-button.oauth

  .error(data-testid="error" v-if="error" role="alert")
    | {{ $t(error) }}

  .fieldset
    .label-container
      label(for="email") {{ $t("LOGIN_FORM.INPUT_EMAIL.LABEL") }}
    .input-container
      input(data-testid="email" id="email" name="email" type="email" v-bind:placeholder="$t('LOGIN_FORM.INPUT_EMAIL.PLACEHOLDER')" required
            v-model="input.email")

  .password.fieldset
    .label-container
      label(for="password") {{ $t("LOGIN_FORM.INPUT_PASSWORD.LABEL") }}
    .input-container
      input(data-testid="password" id="password" name="password" type="password" v-bind:placeholder="$t('LOGIN_FORM.INPUT_PASSWORD.PLACEHOLDER')" required
            v-model="input.password")

  button.submit.primary(data-testid="submit" type="submit" v-bind:disabled="isLoading") {{ $t("LOGIN_FORM.BUTTON_SUBMIT") }}

  a.forgot-password(
    v-on:click="forgotPassword()"
    data-testid="forgot-password"
  ) {{ $t("LOGIN_FORM.INPUT_PASSWORD.LINK_FORGOT_PASSWORD") }}
