@import "./colors.css";

/* Fonts
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900);

/* Common
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body
   ========================================================================== */
body {
  color: var(--black-400);
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1;

  &.no-scroll {
    overflow: hidden;
  }
}

/* Titles
   ========================================================================== */

h2 {
  font-size: 2.25rem;
  font-weight: normal;
}

/* SVGs & images
   ========================================================================== */
svg {
  width: 100%;
}

/* Forms
   ========================================================================== */

fieldset {
  border: none;
}

label {
  color: var(--black-400);
  padding: .6rem .3rem;
}

::-webkit-input-placeholder,
::placeholder {
  color: var(--gray-300);
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/* Links
   ========================================================================== */
a,
area,
link {
  color: var(--orange-400);
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    text-decoration: underline;
  }
}
