//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

form.form(data-testid="form" v-on:submit.prevent="handleSubmit()" autocomplete="off")
  .error(data-testid="error" v-if="error" role="alert")
    | {{ $t(error) }}

  .fieldset
    label(for="name") {{ $t("VIEWS.MY_PROFILE.CHANGE_AVATAR") }}
    input(data-testid="name" id="name" name="name" type="text" v-bind:placeholder="$t('VIEWS.MY_PROFILE.PLACE_NEW_PASSWORD')" required v-model="input.password")

  .fieldset
    label(for="name") {{ $t("VIEWS.MY_PROFILE.CHANGE_MAIL") }}
    input(data-testid="name" id="name" name="name" type="text" v-bind:placeholder="$t('VIEWS.MY_PROFILE.CHANGE_MAIL_PLACEHOLDER')" required v-model="input.password")

  .fieldset
    label(for="name") {{ $t("VIEWS.MY_PROFILE.CHANGE_NAME") }}
    input(data-testid="name" id="name" name="name" type="text" v-bind:placeholder="$t('VIEWS.MY_PROFILE.CHANGE_NAME_PLACEHOLDER')" required v-model="input.password")

  .actions
    button.submit(data-testid="submit" type="submit" v-bind:disabled="isLoading") {{ $t("GROUP_FORM.BUTTON_SUBMIT") }}
