//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.member-votes-list.empty(data-testid="votes-list" v-if="votes.length === 0")
  | {{ $t('MEMBER_VOTES_LIST.NO_VOTES_YET') }}
.member-votes-list(data-testid="votes-list" v-else)
  .votes-list
    .vote-detail(v-for="vote in votes")
      .date {{ vote.createdAtDateTime | toDateTimeWithWeekDay }}
      .info
        .score(
          v-bind:class="getVoteClasses(vote)"
        ) {{ vote.score }}
        .comment(v-if="vote.comment") {{ vote.comment }}
  button.more-votes(
    v-if="showMoreButton"
    v-on:click="handleClickMoreVotes"
  )
    | {{ $t('MEMBER_VOTES_LIST.BUTTON_SHOW_MORE') }}
