//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.group-stats.empty(data-testid="stats" v-if="votings.length === 0")
  | {{ $t('VIEWS.GROUP_DETAIL.STATS.NO_VOTING_YET') }}
.group-stats(data-testid="stats" v-else)
  template(v-for="voting in votings")
    router-link(
      v-if="voting"
      v-bind:class="getVotingClasses(voting)"
      v-bind:to="{name: 'groups:votings:detail', params: {group: group.id, voting: voting.id} }"
      v-bind:title="voting.createdAtDateTime | toDateSimpleWithWeekDay"
    ) {{ voting.average }}
    div(
      v-else
      v-bind:class="getVotingClasses(voting)"
    ) --
