@import "./assets/css/normalize.css";
@import "./assets/css/global.css";
@import "./assets/css/common.css";

.app {
  align-items: center;
  background-color: var(--white-500);
  background-image: url(./assets/img/bg.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
