//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

.notifications(data-testid="notifications")
  transition-group(name="slide" tag="div" class="notification-wrapper")
    .notification(
      data-testid="notification"
      v-for="item in notifications"
      v-bind:key="item.id"
      v-bind:data-id="item.id"
      v-bind:class="[item.type]"
      v-on:click="destroy(item)"
    )
      slot(
        :item="item"
        :close="() => destroy(item)"
      )
        h3.title(data-testid="title" v-if="item.title" v-html="item.title")
        .message(data-testid="message" v-if="item.message" v-html="item.message")
