//-
  Copyright (C) 2019 Kaleidos Open Source SL

  This file is part of Dont Worry Be Happy (DWBH).
  DWBH is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  DWBH is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with DWBH.  If not, see <https://www.gnu.org/licenses/>.

form.vote-form(data-testid="form" v-on:submit.prevent="handleSubmit()" autocomplete="off")
  .error(data-testid="error" v-if="error" role="alert")
    | {{ $t(error) }}
  .score-container
    .score
      input(data-testid="one" type="radio" id="one" name="score" value="1" v-model="input.score")
      label(for="one") {{ "1" }}

    .score
      input(type="radio" id="two" name="score" value="2" v-model="input.score")
      label(for="two") {{ "2" }}

    .score
      input(type="radio" id="three" name="score" value="3" v-model="input.score")
      label(for="three") {{ "3" }}

    .score
      input(type="radio" id="four" name="score" value="4" v-model="input.score")
      label(for="four") {{ "4" }}

    .score
      input(type="radio" id="five" name="score" value="5" v-model="input.score")
      label(for="five") {{ "5" }}

  .comment
    .actons-container
      label(data-testid="commentlabel" for="comment") {{ $t("VOTE_FORM.INPUT_COMMENT.LABEL") }}
      button.action(v-if="showPreview" type="button" v-on:click="handleClickEditButton")
        | {{ $t("VOTE_FORM.INPUT_COMMENT.ACTION_EDIT") }}
      button.action(v-else type="button" v-on:click="handleClickPreviewButton")
        | {{ $t("VOTE_FORM.INPUT_COMMENT.ACTION_PREVIEW") }}
    .preview(v-if="showPreview")
      dw-markdown(v-bind:text="input.comment")
    template(v-else)
      textarea(data-testid="comment" id="comment" v-model="input.comment")
      a.description(href='https://spec.commonmark.org/0.29/' target='_blank') &#128712; {{ $t("VOTE_FORM.INPUT_COMMENT.DESCRIPTION") }}


  .anonymous(data-testid="anonymouscontainer" v-if="group && group.anonymousVote")
    input(data-testid="anonymous" id="anonymous" name="anonymous" type="checkbox" v-model="input.anonymous")
    label(data-testid="anonymouslabel" for="anonymous") {{ $t("VOTE_FORM.INPUT_ANONYMOUS.LABEL") }}

  button.submit(data-testid="submit" type="submit") {{ $t("VOTE_FORM.BUTTON_SUBMIT") }}
